<div class="blade-static __bottom" ng-if="blade.isNew">
    <button class="btn" ng-click="saveChanges()" ng-disabled="!isValid()">{{ 'platform.commands.create' | translate }}</button>
</div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" method="post" name="formCoupon" novalidate="novalidate">
                <fiedset ng-init="setForm(formCoupon)">
                    <div class="form-group">
                        <label class="form-label" ng-bind="'marketing.blades.coupon-detail.labels.coupon-code' | translate"></label>
                        <div class="form-input">
                            <input required="required" type="text" ng-model="blade.currentEntity.code" />
                            <div class="list-descr" ng-bind="'marketing.blades.coupon-detail.labels.code-description' | translate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="columns clearfix">
                            <div class="column">
                                <div class="form-group">
                                    <label class="form-label" ng-bind="'marketing.blades.coupon-detail.labels.max-uses-number' | translate"></label>
                                    <div class="form-input">
                                        <input type="number" ng-model="blade.currentEntity.maxUsesNumber" />
                                        <div class="list-descr" ng-bind="'marketing.blades.coupon-detail.labels.max-uses-number-description' | translate"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="form-group">
                                    <label class="form-label" ng-bind="'marketing.blades.coupon-detail.labels.reservation-expiration-date' | translate"></label>
                                    <div class="form-input __calendar">
                                        <input ng-model="blade.currentEntity.expirationDate" datepicker-popup="" is-open="datepickers.expirationDate" datepicker-options="dateOptions" close-text="Close" />
                                        <button class="btn" type="button" ng-click="openCalendar($event, 'expirationDate')">
                                            <i class="btn-ico fa fa-calendar"></i>
                                        </button>
                                        <div class="list-descr" ng-bind="'marketing.blades.coupon-detail.labels.reservation-expiration-date-description' | translate"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fiedset>
            </form>
        </div>
    </div>
</div>