<script type="text/ng-template" id="expression-ConditionCurrencyIs.html">
    <span ng-controller="virtoCommerce.marketingModule.promotionConditionCurrencyIsController">
        Currency is
        <a class="__link" left-click-menu data-target="pcrn_menu{{$index}}">{{element1.currency ? element1.currency : 'select currency' }}</a>
        <ul class="menu __context" role="menu" id="pcrn_menu{{$index}}" ng-init="currencies = currencyUtils.getCurrencies()">
            <li class="menu-item" ng-click='element1.currency=x.code;' ng-repeat="x in currencies">{{x.code}}</li>
        </ul>
    </span>
</script>
<script type="text/ng-template" id="expression-ConditionHasNoSalePrice.html">
    Apply only to full price items and not sales items
</script>
<script type="text/ng-template" id="expression-PaymentIsCondition.html">
  Payment type is
  <a class="__link" left-click-menu data-target="pshp_menu{{$index}}">{{element1.paymentMethod ? element1.paymentMethod : 'select payment method'}}</a>
  <ul class="menu __context" role="menu" id="pshp_menu{{$index}}" ng-controller="virtoCommerce.dynamicExpressions.paymentMethodRewardController">
    <li class="menu-item" ng-click='element1.paymentMethod=x.id?x.code:x.id' ng-repeat="x in paymentMethods">{{x.code}}</li>
  </ul>
</script>
<script type="text/ng-template" id="expression-ShippingIsCondition.html">
  Shipping type is
  <a class="__link" left-click-menu data-target="pshp_menu{{$index}}">{{element1.shippingMethod ? element1.shippingMethod : 'select shipping type'}}</a>
  <ul class="menu __context" role="menu" id="pshp_menu{{$index}}" ng-controller="virtoCommerce.dynamicExpressions.shippingMethodRewardController">
    <li class="menu-item" ng-click='element1.shippingMethod=x.id?x.code:x.id' ng-repeat="x in shippingMethods">{{x.code}}</li>
  </ul>
</script>
